@import url('https://fonts.google.com/specimen/Space+Grotesk');

*
{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}
body{

    font-family: 'Space Grotesk', sans-serif;
}

header
{
    height: 190px;
    width: 100%;
    background-color: hsl(278, 68%, 11%);
    padding: 5px 0 0 0;

    .back-card
    {
        height: 150px;
        width: 280px;
        z-index: 0;
        margin-top: 10px;
        margin-left: 70px;
        background-image: url('../../images/bg-card-back.png');
        background-size: cover;
        border-radius: 10px;

        img{
            object-fit: cover;
            height: 150px;
        }

        .sec-code
        {
            display: flex;
            flex-direction: row;
            justify-content: end;
            margin-right: 40px;
            p{
                color: white;
                margin-top: 28%;
                align-items: center;
            }
        }
    }

    .front-card
    {
        height: 150px;
        width: 280px;
        z-index: 2;
        margin-top: -60px;
        margin-left: 20px;
        background-image: url('../../images/bg-card-front.png');
        background-size: cover;
        border-radius: 10px;

        img{
            object-fit: cover;
            height: 150px;
        }

        .top-card
        {
            height: 50%;
            padding: 10px 0 0 10px;
            img
            {
                height: 30px;
            }
        }

        .card-num
        {
            height: 20%;
            text-align: justify;
            padding: 0 10px 0 10px;
            color: white;
        }
        .bottom
        {
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 10px 0 10px;
            color: white;

            .own-name
            {

            }

            .exp-date
            {
                display: flex;
                flex-direction: row;
            }
        }
    }
}

main
{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;

    .card-form{
        display: flex;
        flex-direction: column;
        margin: 20px;

        label
        {
            font-size: 20px;
            width: 100%;
            color: hsl(278, 68%, 11%);
            font-weight: 500;
        }
        
        input
        {
            height: 40px;
            width: 100%;
            margin-bottom: 20px;
            font-weight: 500;
        }

        button
        {
            height: 40px;
            width: 80%;
            border: none;
            margin: 0 0 0 40px;
            border-radius: 10px;
            background-color: hsl(278, 68%, 11%);
            color: white;
        }
    }

    .card-dt
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        input{
            width: 70px;
        }

        #CardCode{
            width: 50%;
        }
    }

}